.root {
     -fx-background-color: white;
}

.button {
   -fx-background-color: linear-gradient(#242935, #595B5E);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.label_text {
	-fx-font-family: Lucida Console;
	-fx-font-size: 14px;
}

.label_overskrift {
	-fx-font-family: Copperplate Bold;
	-fx-font-size: 36px;
}

.label_hovedoverskrifter {
	-fx-font-family: Copperplate Bold;
	-fx-font-size: 48px;
}


.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}