.root {
     -fx-background-color: #d7e1e4;
}

.button {
   -fx-background-color: linear-gradient(#4b72b5, #4b72b5);
   -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: #283243;
    -fx-font-size: 15px;
}

.button-orange {
   -fx-background-color: linear-gradient(#ff8411, #ff8411);
   -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: #283243;
    -fx-font-size: 15px;
}

.button:pressed {
	-fx-background-color: linear-gradient(#4b72b5, #335a8e);
	-fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

.label_text {
	-fx-font-family: Lucida Console;
	-fx-font-size: 14px;
	-fx-text-fill: #283243;
}

.label_overskrift {
	-fx-font-family: Copperplate Bold;
	-fx-font-size: 33px;
	-fx-text-fill: #283243;
}

.label_hovedoverskrifter {
	-fx-font-family: Copperplate Bold;
	-fx-font-size: 54px;
	-fx-text-fill: #283243;
}


.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}

.text-melding {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-font-size: 18px;
}

.password-field{
	fx-font-size: 6pt;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.table-view {
	-fx-base: #1c284f;
    -fx-control-inner-background:  #4b72b5;
    -fx-background-color: #4b72b5;
    -fx-table-cell-border-color: #4b72b5;
    -fx-table-header-border-color: #4b72b5;
    -fx-padding: 5;
}

.table-view2 {
	-fx-base: #00788e;
    -fx-control-inner-background:  #4ea9ac;
    -fx-background-color: #4ea9ac;
    -fx-table-cell-border-color: #4ea9ac;
    -fx-table-header-border-color: #4ea9ac;
    -fx-padding: 5;
}